.wrapper {
  display: flex;
  flex-direction: column;
  
}
.links {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
  &:hover{
    text-decoration: underline;
  }
}